html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Raleway');

body {
    font-family: 'Raleway', sans-serif;
}

div > header {
    background: linear-gradient(70deg, rgba(0,0,0,0.8), rgba(40,0,50,0.8));
    min-height: 100vh;
}

#bc {
    background: url(../img/bc.jpg);
    background-position: center top;
    background-repeat: no-repeat;
}

header > header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    border-bottom: solid 1px rgba(0,0,0,0.5);
}

header > img {
    width: 45px;
    height: 74px;
}

header > nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

header li {
    display: block;
    padding: 15px 20px;
    margin: 10px;
    background: rgba(255,255,255,0);
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 50px;
    transition: ease-out 1s;
    text-decoration: none;
}

.selecmenu {
    width: 300px;
    font-size: 1.4em;
}

header li:hover {
    background: rgba(255,255,255,1);
    color: black;
}

nav > img {
    display: flex;
    align-self: center;
    height: 20px;
    margin: 10px;
}

header > main {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    color: white;
    text-align: center;
}

#illuprincipal {
    width: 130px;
    display: flex;
    align-self: center;
}

h1 {
    margin: 30px 0px 20px 0px;
    font-size: 3em;
    font-family: 'Amatic SC', cursive;
}

h1 + p {
    width: 70%;
    display: flex;
    align-self: center;
}

header > main > ul {
    display: flex;
    justify-content: space-around;
}

header > main > ul > li {
    display: block;
}

body > main {
    
}

main section:first-child {
    
}

main section:last-child {
   
}

footer {
    background: red;
}

